body {
  text-align: center;
  background-color: black;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background: url(img/background.png) center/cover;
  margin: auto;
  border-radius: 20px;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.game__level {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 5px rgba(108, 108, 108, 0.59);
}

.game__button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 4px solid darkslategrey;
  font-size: 24px;
  transition: transform 300ms ease-in;
}
.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 100px;
  background-color: white;
  text-align: center;
  border: 5px solid darkslategray;
  border-radius: 20px;
  font-size: 32px;
  margin-top: 8px;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}
.game__score {
  text-align: center;
  width: 50px;
  height: 50px;
  margin-top: 8px;
  font-size: 36px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: darksalmon;
  color: white;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.pop-up {
  width: 400px;
  height: 140px;
  padding: 20px;
  background-color: #00000090;
  color: white;
  text-align: center;
  margin: auto;
  transform: translateY(-150%);
  border-radius: 20px;
}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: chartreuse;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up__next_level {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: magenta;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up-btn--hide {
  display: none;
}

.pop-up__message {
  display: block;
  font-size: 38px;
}

.carrot,
.bug {
  cursor: pointer;
  transition: transform 100ms ease-in;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
